.map_popup {
    padding: 0;
}

.map_content {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

h4,p {
    margin: 0;
}

label {
    color: red;
    font-size: 10px;
    border-bottom: 1px solid red;
    width:120px;
    margin-bottom: 1px;
}

.map_content_star {
    color:gold;
}

form{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, textarea{
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
    font-size: 10px;
    color: gray
}

.submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border-color: red ;
    cursor: pointer;
}

.map_logout .map_login .map_register {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.map_logout {
    background-color: red;
}

.map_login{
    background-color: teal;
    margin-right: 10px;
}

.map_register {
    border-color: slateblue;
}

.map_buttons .map_logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

h1 {
    position: absolute;
    color: red;
    z-index: 0;
}